<thead class="center aligned">
  <tr>
    <th rowspan="2">Cell ID</th>
    <th colspan="2">Mean</th>
    <th colspan="2">Anova All</th>
    <th colspan="5">SF</th>
    <th rowspan="2">OSI</th>
    <th rowspan="2">CV</th>
    <th rowspan="2">DSI</th>
    <th rowspan="2">Sigma</th>
    <th rowspan="2">OPref</th>
    <th rowspan="2">Tau</th>
    <th rowspan="2">RMax</th>
    <th rowspan="2">Residual</th>
    <th colspan="2">Anova Each</th>
    <th colspan="2">Bootstrap</th>
    <th colspan="2">Pixel</th>
    <th colspan="13">T-Test Each P-Value</th>
  </tr>
  <tr>
    <th class="cell-mean-blank">Blank</th>
    <th class="cell-mean-flicker">Flicker</th>
    <th class="cell-anova-all-f">F</th>
    <th class="cell-anova-all-p">P</th>
    <th class="cell-sf-peak">Peak</th>
    <th class="cell-sf-pref">Pref</th>
    <th class="cell-sf-bandwidth">Bandwidth</th>
    <th class="cell-sf-global-o-pref">Global OPref</th>
    <th class="cell-sf-at">@</th>
    <th class="cell-anova-each-f">F</th>
    <th class="cell-anova-each-p">P</th>
    <th class="cell-bootstrap">MEAN</th>
    <th class="cell-bootstrap">STD</th>
    <th class="cell-pixel">Value</th>
    <th class="cell-pixel">Blank</th>
    {{#each ttestNames as |n|}}
      <th class="cell-ttest-{{n}}">{{n}}</th>
    {{/each}}
  </tr>
</thead>
<tbody class="center aligned">
  {{#each rois as |roi|}}
  <tr>
    <td class="{{if roi.active "positive"}} cell-cell-id"
        rowspan="{{roi.responseCountPlusOne}}">{{roi.id}}</td>
    <td class="cell-mean-blank"
        rowspan="{{roi.responseCountPlusOne}}">{{roi.sfreqfit.blank}}</td>
    <td class="cell-mean-flicker"
        rowspan="{{roi.responseCountPlusOne}}">{{roi.sfreqfit.flicker}}</td>
    <td class="cell-anova-all-f"
        rowspan="{{roi.responseCountPlusOne}}">{{roi.anova_all.f}}</td>
    <td class="cell-anova-all-p"
        rowspan="{{roi.responseCountPlusOne}}">{{roi.anova_all.p}}</td>
    <td class="cell-sf-peak"
        rowspan="{{roi.responseCountPlusOne}}">{{roi.sfreqfit.peak}}</td>
    <td class="cell-sf-pref"
        rowspan="{{roi.responseCountPlusOne}}">{{roi.sfreqfit.pref}}</td>
    <td class="cell-sf-bandwidth"
        rowspan="{{roi.responseCountPlusOne}}">{{roi.sfreqfit.ratio}}</td>
    <td class="cell-sf-global-o-pref"
        rowspan="{{roi.responseCountPlusOne}}">{{roi.best_o_pref}}</td>
  </tr>
  {{#each roi.sortedResponses as |r|}}
  <tr class="{{if-eq-then-class attrs.curSF r.sfreq "positive"}}">
    <td class="cell-sf-at"         >{{r.sfreq}}</td>
    <td class="cell-osi"           >{{or-icon "red help" r.stats.osi}}</td>
    <td class="cell-cv"            >{{or-icon "red help" r.stats.cv}}</td>
    <td class="cell-dsi"           >{{or-icon "red help" r.stats.dsi}}</td>
    <td class="cell-sigma"         >{{or-icon "red help" r.stats.sigma}}</td>
    <td class="cell-o-pref"        >{{or-icon "red help" r.stats.o_pref}}</td>
    <td class="cell-tau"           >{{or-icon "red help" r.stats.tau}}</td>
    <td class="cell-r-max"         >{{or-icon "red help" r.stats.r_max}}</td>
    <td class="cell-residual"      >{{or-icon "red help" r.stats.residual}}</td>
    <td class="cell-anova-each-f"  >{{or-icon "red help" r.stats.anova.f}}</td>
    <td class="cell-anova-each-p"  >{{or-icon "red help" r.stats.anova.p}}</td>
    <td class="cell-bootstrap-mean">{{or-icon "red help" r.bootstrap.mean}}</td>
    <td class="cell-bootstrap-std" >{{or-icon "red help" r.bootstrap.std}}</td>
    <td class="cell-pixel-value"   >{{or-icon "red help" r.stats.pixel_value}}</td>
    <td class="cell-pixel-blank"   >{{or-icon "red help" r.stats.pixel_blank}}</td>
    {{#each r.stats.ttest as |val|}}
      <td class="cell-ttest-{{val.name}}">{{or-icon "red help" val.pvalue}}</td>
    {{/each}}
  </tr>
  {{/each}}
  {{/each}}
</tbody>
