<div id="route-trj-analysis" class="ui inverted segment">
  {{#x-modal-for-object (mut model.roiOnDetail)
    onApprove=(route-action "updateAndFetchROI" model.roiOnDetail)
    approveText="Update Now"
    cancelText="Update Later"
    icon="sun" header="ROI Details" as |modal|}}
    {{x-sci-analysis/roi-detail modal.object}}
  {{/x-modal-for-object}}

  {{x-modal-for-generic-object model.objectForModal}}

  {{!--
  <div class="ui five column padded grid">
    <div class="yellow column">{{model.user}}</div>
    <div class="red column">
      <p>{{model.title}} - {{curIndex}}</p>
      <p>{{model.desc}}</p>
    </div>
    <div class="blue column">{{model.createdat}}</div>
    <div class="green column">{{model.imagesrc}}</div>
    <div class="purple column">
      <p>Spatial frequency</p>
      {!x-sui-value-select
        name="spatial-frequency"
        value=model.sfrequency_index
        items=model.sfrequencies
        onValueChanged=(route-action "sfrequencyIndexChanged")
      }
    </div>
  </div>
  --}}

  {{! HEADER }}
  <div class="ui stackable five column padded grid">
    <div class="teal column">
      <div class="ui fluid tiny icon buttons">
        <button class="ui button" {{action "play"}}>
          <i class="play icon"></i>
        </button>
        <button class="ui button" {{action "stop"}}>
          <i class="stop icon"></i>
        </button>
        <button class="ui simple dropdown button">
          <i class="settings icon"></i>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" {{action "openModal" model.filterModal}}>Filter</div>
          </div>
        </button>

      </div>
      {{!sui-model-select
        value=0
        items=cmapNames
        nofluid=true
        onChange=(action "setCmap")}}
    </div>
    {{!--
    <div class="yellow column">
      <p>Index</p><p>{{model.img.curIndex}}</p>
    </div>
    --}}
    <div class="red column">
      <p>Time</p><p>{{model.curLog.e}}</p>
    </div>
    <div class="blue column">
      <p>X</p><p>{{model.curLog.x}}</p>
    </div>
    <div class="green column">
      <p>Y</p><p>{{model.curLog.y}}</p>
    </div>
    <div class="purple column">
      <p>Velocity</p><p>{{model.curLog.v}}</p>
    </div>
  </div>

  {{! Wide Response Canvas }}
  <section class="ui clearing divider"></section>
  <div class="ui inverted segment">
    <div class="ui {{model.socketStatusClass}} text loader">Fetching...</div>
    {{x-sci-analysis/response/overview src=model.response.overview}}
  </div>
  <section class="ui clearing divider"></section>
  <div class="ui">
    {{input type="range" min="0" step="1"
      max=model.img.maxIndex value=model.img.curIndex}}
  </div>

  {{! Image and Trajectory (Grid 12:4) }}
  <section class="ui clearing divider"></section>
  <div class="ui padded grid">
    {{! Image Grid 12 }}
    {{#x-zoomable-container class="twelve wide column"
      dimension=(mut model.zContainerDimension)}}
      {{#x-layer width=model.img.width height=model.img.height as |layer|}}
        {{layer.canvas-2d buffer=model.img.buffer}}
        {{layer.roi-selector rois=model.rois
          onExportROI=(route-action "insertROI" model.rois)}}
        {{layer.roi-presenter rois=model.rois}}
      {{/x-layer}}
    {{/x-zoomable-container}}
    {{! Trajectory Grid 4 }}
    <div class="four wide column">
      {{x-trj-analysis/mouse-trajectory activity=model.curActivity
        dimension=model.zContainerDimension x=model.curLog.x y=model.curLog.y}}
    </div>
  </div>

  <section class="ui clearing divider"></section>
  <div class="ui one column padded grid">
    <div class="center aligned column">
      {{! x-i3d2p-plot-overview src=model.curTrace curIndex=model.img.curIndex}}
    </div>
  </div>
  <section class="ui clearing divider"></section>
  <div class="ui one column padded grid">
    <div class="center aligned column">
      {{!x-sci-analysis-response src=model.curResponse}}
    </div>
  </div>

</div>
