{{input class="app-data-current-index"
  type="range" min="0" max=maxIndex step="1" value=mmw.index}}
{{#sui-popup selector=".app-data-current-index" offset=8}}
  Index: {{mmw.index}}
{{/sui-popup}}
{{input class="app-data-current-interval"
  type="range" min="1" max="160" step="1" value=mmw.interval}}
{{#sui-popup selector=".app-data-current-interval" offset=8}}
  Interval: {{mmw.interval}} ms
{{/sui-popup}}
<div style="margin: auto;" class="ui center aligned grid">
  <div class="center aligned four column row">
    <div class="column">
      <p>Current Index</p>
      <p>{{mmw.index}}</p>
    </div>
    <div class="column">
      <p>Current Interval</p>
      <p>{{mmw.interval}}</p>
    </div>
    <div class="column">
      <div {{action "play"}} class="ui inverted {{if active "active"}} green icon button"><i class="play icon"></i></div>
      <div {{action "stop"}} class="ui inverted red icon button"><i class="stop icon"></i></div>
      <div class="ui inverted teal icon button">{{if active curfps "FPS"}}</div>
    </div>
    <div class="column">
      {{sui-dropdown
        value  = selectedMap
        items  = cmaps
        prompt = "Colormap..."
        class  = "app-data-sbx"
        icon   = "options"
        preselect = 0
      }}
    </div>
  </div>
</div>
