<table class="ui inverted table">
  <tbody>
    {{!--
    <tr><td>On time</td><td>{{attrs.trials.on_time}}</td></tr>
    <tr><td>Off time</td><td>{{attrs.trials.off_time}}</td></tr>
    <tr><td>Order</td><td>{{attrs.trials.order}}</td></tr>
    --}}
    <tr><td>Frame duration</td><td>{{attrs.trials.frameDuration}}</td></tr>
    <tr><td>Frame count</td><td>{{attrs.trials.frameCount}}</td></tr>
    <tr><td>Frame rate</td><td>{{attrs.trials.frameRate}}</td></tr>
    <tr><td>Sequence</td><td>{{attrs.trials.sequence_flat}}</td></tr>
    <tr><td>Ran</td><td>{{attrs.trials.ran}}</td></tr>
  </tbody>
</table>
