<div class="ui icon header">
  <i class="{{icon}} icon"></i> {{header}}
</div>
<div class="content" style="overflow-y: scroll; border: 1px solid red;">
  {{yield this}}
</div>
<div class="actions">
  <div class="ui basic approve blue button">{{approveText}}</div>
  <div class="ui basic cancel red button">{{cancelText}}</div>
</div>

