<div id="import-progress" class="ui basic modal">
  <div class="ui loader"></div>
  <div class="ui icon header">
    <i class="archive icon"></i> Import data...
  </div>
  <div class="content"
    style="height: 480px; overflow-y: scroll; border: 1px solid red;">
    {{x-console-stream messages=messages class="ui"}}
  </div>
</div>

<div class="ui inverted segment">
  <h2>Directory {{model.directory}}</h2>
  <div class="ui stackable three column page grid">
  {{#each model.metas as |m|}}
    <div class="column">
      {{#x-anlz-session-card
        title=m.sbx.name
        user=m.sbx.user
        timeAgo=m.sbx.time
        desc=m.sbx.desc
        host=m.sbx.host
        src=m.sbx.mouse
      }}
      {{#if m.exists}}
        <div class="extra content">
          <div class="ui vertical fluid buttons">
            <div class="ui blue basic button" {{action "newSession" m}}>New session</div>
            <div class="ui red basic button" {{action "removePackage" m}}>Remove</div>
          </div>
        </div>
        <div class="extra content">
          {{#each m.sessions as |s|}}
          <h5 class="ui header">
            <i class="radio icon"></i>
            <div class="content">
              <span class="trj-analyses-open-session"
                {{action "openSession" m s}}>
                  {{s.id}}: {{s.attributes.name}}</span>
              <div class="ui inline simple dropdown">
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="header">Actions</div>
                  <div class="item" {{action "removeSession" m s}}>Delete</div>
                </div>
              </div>
            </div>
          </h5>
          {{/each}}
        </div>
      {{else}}
        <div class="extra content">
          <div class="ui basic fluid red button" {{action "importRaw" m}}>Import</div>
        </div>
      {{/if}}
      {{/x-anlz-session-card}}
    </div>
  {{/each}}
  </div>
</div>

{{outlet}}
