<h4 class="ui inverted header">Device Handle #{{attrs.src}}: {{stateStr}}</h4>
{{#if state}}
  <button class="ui small red button"{{action "release"}}>Click to release...</button>
{{else}}
  <button class="ui small blue button"{{action "acquire"}}>Click to acquire...</button>
{{/if}}
<div class="ui segment" style="display: {{stteCss}}">
  <div class="ui top attached tabular menu">
    <a class="item active" data-tab="features">Features</a>
    <a class="item"        data-tab="preview">Preview</a>
  </div>
  <div class="ui bottom attached tab segment active" data-tab="features">
    {{#if state}}
    <table class="ui compact table">
      {{#each feats as |f|}}
        <tr>
          <td>{{f}}</td>
          <td>{{x-andor-feature-input
                meta=(get features f)
                onUpdate=(action "setFeature")
          }}</td>
        </tr>
      {{/each}}
    </table>
    {{/if}}
  </div>
  <div class="ui bottom attached tab segment" data-tab="preview"></div>
</div>
