{{!--
<div class="ui center aligned inverted segment">
  <h2 class="ui">#{{model.id}}: {{model.title}}: {{model.index}}</h2>
</div>
{{x-i3d2p-plot-overview}}
{{x-analysis-i3d files=model.src curIndex=model.index}}
{{outlet}}
--}}
<div class="ui {{if busy 'active'}} dimmer">
  <div class="ui text inverted loader">Please wait...</div>
</div>
<div class="ui inverted segment">
  <div class="ui five column padded grid">
    <div class="yellow column">{{model.user}}</div>
    <div class="red column">
      <p>{{model.title}} - {{curIndex}}</p>
      <p>{{model.desc}}</p>
    </div>
    <div class="blue column">{{model.createdat}}</div>
    <div class="green column">{{model.imagesrc}}</div>
    <div class="purple column">
      <p>Spatial frequency</p>
      {{sui-model-select
        name="currentSFrequency"
        value=current_sfrequency
        items=condition.spatial_frequencies
        onChange=(action "currentSFrequencyEnumChange" model)
      }}
    </div>
  </div>
  <section class="ui clearing divider"></section>
  <div class="ui one column padded grid">
    <div class="center aligned column">
      {{! x-i3d-trace currentROI=currentROI
        trace=trace curIndex=curIndex}}</div>
  </div>
  <section class="ui clearing divider"></section>
  <div id="qqq" class="ui one column padded grid">
    {{! x-i3d-image
      session=session src=model.imagesrc
      curIndex=curIndex currentROI=currentROI}}
    {{input type="range" min="0" max=maxIndex step="1" value=curIndex}}
    {{#x-layer class="column" width=img.width height=img.height as |layer|}}
      {{layer.roi-selector}}
      {{layer.roi-presenter}}
      {{layer.canvas-2d buffer=img.buffer}}
    {{/x-layer}}
  </div>
  <section class="ui clearing divider"></section>
  <div class="ui one column padded grid">
    <div class="center aligned column">
      {{x-i3d-response session=session roi=currentROI}}
    </div>
  </div>
</div>
