<div class="ui roi dropdown icon {{if roi.inAction "disabled"}} item">
  <i class="gray {{if roi.active "big"}} {{if roi.inAction "loading"}} setting icon"></i>
  <div class="menu">
    <div class="header">
      Data
    </div>
    <div class="item" {{action roi.refreshAll target=roi}}>
      Compute
    </div>
    {{!<div class="item"> Clear </div>}}
    <div class="divider"></div>
    <div class="header">
      Trace {{if roi.draw_dtoverallmean "✓" "✗"}}
    </div>
    <div class="item" {{action roi.enableTrace target=roi}}>
      Enable
    </div>
    <div class="item" {{action roi.disableTrace target=roi}}>
      Disable
    </div>
    <div class="divider"></div>
    <div class="header">
      ROI - ({{roi.polygon.length}})
    </div>
    <div class="item" {{action roi.setCellId target=roi}}>
      Set Cell Id
    </div>
    <div class="item" {{action roi.destroyROI target=roi}}>
      Destroy
    </div>
    <div class="divider"></div>
    <div class="header">
      Neuropil {{if roi.neuropil_enabled "✓" "✗"}}
    </div>
    <div class="item" {{action roi.enableNeuropil target=roi}}>
      Enable
    </div>
    <div class="item" {{action roi.disableNeuropil target=roi}}>
      Disable
    </div>
    <div class="item" {{action roi.setNeuropilRatio target=roi}}>
      Set amount ({{roi.neuropil_ratio}})
    </div>

    <div class="divider"></div>
    <div class="header">
      SoG Guess for {{roi.workspace.cur_sfreq}} / {{roi.workspace.cur_contrast}}
    </div>

    {{#with roi.cur_dtorientationsfit.sog_params as |p|}}
      <div class="item">
        Current
        <div class="menu">
          <div class="header">
            <span class="ui mini label">1</span>{{p.a1_min}} ~ {{p.a1_max}}
          </div>
          <div class="header">
            <span class="ui mini label">2</span>{{p.a2_min}} ~ {{p.a2_max}}
          </div>
          <div class="header">
            <span class="ui mini label">S</span>{{p.sigma_min}} ~ {{p.sigma_max}}
          </div>
          <div class="header">
            <span class="ui mini label">O</span>{{p.offset_min}} ~ {{p.offset_max}}
          </div>
        </div>
      </div>
    {{/with}}

    <div class="item" {{action roi.clearSoGParam target=roi}}>
      Default
    </div>
    <div class="item" {{action roi.overrideSoGParam target=roi}}>
      Override
    </div>
    <div class="item" {{action roi.computeSoG target=roi}}>
      Compute
    </div>

  </div>
</div>
<div class="item" {{action roi.focus target=roi}}>
  <div class="ui basic segments">
    <p class="inverted segment">
      <i class="green crosshairs icon"></i>
      ({{roi.centroid.x}}, {{roi.centroid.y}})
    </p>
    <p class="inverted segment">
      {{#if roi.params.cell_id as |cid|}}
        <i class="teal tag icon"></i>
        {{cid}}
      {{else}}
        <i class="yellow info icon"></i>
        #{{roi.id}}
      {{/if}}
    </p>
  </div>
</div>
