<div class="ui small roi dropdown icon {{if roi.inAction "disabled"}} item">
  <i class="gray {{if roi.active "big"}} {{if roi.inAction "loading"}} setting icon"></i>
  <div class="menu">
    <div class="header">
      Data
    </div>
    <div class="item" {{action roi.refreshAll target=roi}}>
      Compute
    </div>
    {{!<div class="item"> Clear </div>}}
    <div class="divider"></div>
    <div class="header">
      Trace {{if roi.draw_dtoverallmean "✓" "✗"}}
    </div>
    <div class="item" {{action roi.enableTrace target=roi}}>
      Enable
    </div>
    <div class="item" {{action roi.disableTrace target=roi}}>
      Disable
    </div>
    <div class="divider"></div>
    <div class="header">
      ROI - ({{roi.polygon.length}})
    </div>
    <div class="item" {{action roi.destroyROI target=roi}}>
      Destroy
    </div>
    <div class="divider"></div>
    <div class="header">
      Neuropil {{if roi.neuropil_enabled "✓" "✗"}}
    </div>
    <div class="item" {{action roi.enableNeuropil target=roi}}>
      Enable
    </div>
    <div class="item" {{action roi.disableNeuropil target=roi}}>
      Disable
    </div>
    <div class="item" {{action roi.setNeuropilRatio target=roi}}>
      Set amount ({{roi.neuropil_ratio}})
    </div>
  </div>
</div>
<div class="menu" {{action roi.focus target=roi}}>
  <span class="item">
    #{{roi.id}} ({{roi.centroid.x}}, {{roi.centroid.y}})
  </span>
</div>
