<input type="hidden" name="{{name}}" value="{{value}}">
<i class="dropdown icon"></i>
<div class="{{if valueNone "default"}} text">{{initialText}}</div>
<div class="menu">
  {{#each items as |item index|}}
  <div class="item" data-value="{{index}}" data-text="{{item}}">
    <i class="{{icon}} icon"></i>
    {{item}}
  </div>
  {{/each}}
</div>
