{{#x-sui-sticky class="sbx"}}
<div class="ui small compact inverted icon menu">
  <a class="item" {{action "exportROIs"}}>
    <i class="yellow line cloud download icon"></i>
  </a>
  <input type="file" id="roi-import-file" style="display: none"/>
  <a class="item" {{action "importROIs"}}>
    <i class="yellow line cloud upload icon"></i>
  </a>
  <a class="item" {{action "reloadTracePlot"}}>
    <i class="red line chart icon"></i>
  </a>
  {{!--
  <a class="item" {{action "noop"}}>
    <i class="green file image outline icon"></i>
  </a>
  --}}
  <a class="item">
    SF: {{x-dropdown-value
      items=model.condition.sfrequencies
      value=model.workspace.cur_sfreq}}
  </a>
  {{#if model.condition.contrasts}}
  <a class="item">
    Contrast: {{x-dropdown-value
      items=model.condition.contrasts
      value=model.workspace.cur_contrast}}
  </a>
  {{else}}
    <a class="item" {{action "noop"}}>
      Contrast: {{model.condition.contrast}}
    </a>
  {{/if}}
  <a class="item" {{action "noop"}}>
    Baseline Duration: {{model.workspace.baseline_duration}}
  </a>

  <div class="ui simple dropdown {{if maxpBusy "disabled"}} item">
    Max Projection Image {{if stream.ch0HasMaxp "✓" "✗"}}
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" {{action "initMPI"}}>Initialize</div>
      {{#if stream.ch0HasMaxp}}
        <div class="item" {{action "overlayMPI"}}>Overlay MPI Window</div>
      {{/if}}
    </div>
  </div>

  <div class="ui simple dropdown item">
    Global SoG Initial Guess
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#with model.workspace.sog_initial_guess as |p|}}
      <div class="header">A1: {{p.a1min}} ~ {{p.a1max}}</div>
      <div class="header">A2: {{p.a2min}} ~ {{p.a2max}}</div>
      <div class="header">Sigma: {{p.sigmin}} ~ {{p.sigmax}}</div>
      <div class="header">Offset: {{p.offmin}} ~ {{p.offmax}}</div>
      {{!--
      <div class="divider"></div>
      <div class="item" {{action "overlayMPI"}}>Change...</div>
      --}}
      {{/with}}
    </div>
  </div>

  <div class="ui simple dropdown item">
    Export
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" {{action "exportSFreqFitDataAsMat" model.workspace.activeROI}}>
        SFreq Fit Data as .mat</div>
    </div>
  </div>

</div>
{{/x-sui-sticky}}

<div id="route-sbx-analysis" class="ui inverted segment">
  {{! MultiTrace Plot }}
  {{#with (hash width=0) as |masterDimension|}}
    {{x-sbx-analysis/plot/multi-trace
      dimension=masterDimension
      index=model.stream.img.curIndex
      datatags=model.workspace.dtoverallmeans}}
    {{x-sbx-analysis/plot/orientations
      dimension=masterDimension
      condition=model.condition
      roiID=model.workspace.activeROI.id
      datatag=model.workspace.activeROI.dtorientationsmeanBySF}}
    {{x-sbx-analysis/plot/sumofgaussians
      dimension=masterDimension
      condition=model.condition
      roiID=model.workspace.activeROI.id
      datatag=model.workspace.activeROI.dtorientationsfitBySF}}
  {{/with}}

  {{! Main Canvas Slider }}
  <section class="ui clearing divider"></section>
  <div class="ui">
    {{input type="range" min="0" step="1"
      max=stream.img.maxIndex value=stream.img.curIndex}}
  </div>

  <section class="ui clearing divider"></section>
  <div class="ui padded grid">

    {{! Main Canvas }}
    {{#x-zoomable-container class="twelve wide column imagestack-container"
      dimension=(mut stream.mainCanvasDimension) as |dim|}}
      {{#x-layer
        width=stream.img.width
        height=stream.img.height
        dimension=dim do=(route-action "do") as |layer|}}
        <div class="ui {{if model.workspace.roisBusy "active"}} dimmer">
          <div class="ui loader"></div>
        </div>
        {{layer.canvas-2d buffer=stream.img.buffer}}
        {{layer.roi-manager workspace=model.workspace}}
        {{#if stream.img.mpi}}
          {{layer.roi-locator workspace=model.workspace}}
        {{/if}}
        {{!layer.context-menu centroid=model.focused.roi.centroid}}
      {{/x-layer}}
    {{/x-zoomable-container}}

    {{! ROI Control }}
    <div class="four wide column roi-list-container"
      style={{stream.mainCanvasDimension.parallelContainerStyle}}>
      {{#each model.workspace.loadedROIs as |roi index|}}
        {{x-sbx-analysis/roi/hierarchy roi=roi colorIndex=index}}
        <section class="ui clearing divider"></section>
      {{else}}
        <p class="ui mini yellow header">No ROIs yet...</p>
      {{/each}}
    </div>

  </div>

  {{#if model.workspace.activeROI}}
  <section class="ui clearing divider"></section>
  <img class="ui fluid image" alt="SF Tuning Curve"
    src="data:image/png;base64,{{model.workspace.activeROI.dtsfreqfitByCT.value.plot}}" />
  {{/if}}

  <section class="ui clearing divider"></section>
  <div class="ui" style="overflow-x: scroll; font-family: monospace;">
    {{x-scanbox-analyzer/stats/wide-table
      condition=model.condition
      rois=model.workspace.loadedROIs}}
  </div>

  {{!-- logging message
  <section class="ui clearing divider"></section>
  <div class="ui inverted basic segment"
    style="height: 200px; overflow-y: scroll;">
    <pre>{{model.condition.message}}</pre>
  </div>
  --}}

</div>
<style>
#route-sbx-analysis .roi.dropdown .menu .item {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
#route-sbx-analysis .ui.dropdown .menu > .header {
  font-style: italic;
  margin: 0.25rem 0.5rem 0.25rem;
}
</style>
