<div id="route-sbx-analysis" class="ui inverted segment">

  {{! MultiTrace Plot }}
  <div class="ui inverted segment">
    {{x-sbx-analysis/plot/multi-trace over=model.activeTraces by="df/f0"}}
  </div>

  {{! Main Canvas }}
  <section class="ui clearing divider"></section>
  {{#x-zoomable-container class="sbx-analysis"
    dimension=(mut model.mainCanvasDimension)}}
    {{#x-layer width=model.img.width height=model.img.height as |layer|}}
      {{layer.canvas-2d buffer=model.img.buffer}}
      {{layer.roi-selector rois=model.rois
        onExportROI=(route-action "insertROI" model.rois)}}
      {{layer.roi-presenter rois=model.rois}}
      {{!layer.context-menu}}
    {{/x-layer}}
  {{/x-zoomable-container}}

  {{! Main Canvas Slider }}
  <section class="ui clearing divider"></section>
  <div class="ui">
    {{input type="range" min="0" step="1"
      max=model.img.maxIndex value=model.img.curIndex}}
  </div>

  {{! ROI Control }}
  <section class="ui clearing divider"></section>
  <div class="ui">
    {{#each model.rois as |r|}}
    <div class="ui inverted segment">
      <p>ROI: {{r.id}} (active: {{r.active}})</p>
      <h5>Fetched Traces</h5>
      <ul>
        {{#each r.traces as |t|}}
        <li>{{t.id}}: {{t.category}}</li>
        {{/each}}
      </ul>
      <div class="ui basic red button" {{action "fetchTrace" r "df/f0"}}>
        Fetch "df/f0" Trace
      </div>
    </div>
    {{/each}}
  </div>

</div>
