<div id="route-sci-analysis" class="ui inverted segment">
  {{#x-modal-for-object (mut model.roiOnDetail)
    onApprove=(route-action "updateAndFetchROI" model.roiOnDetail)
    approveText="Update Now"
    cancelText="Close"
    icon="sun" header="ROI Details" as |modal|}}
    {{x-sci-analysis/roi-detail modal.object model=model
      updateSoGInitialGuessForThisSF=(
        route-action "updateSoGInitialGuessForThisSF")
      updateSoGInitialGuessForAllSF=(
        route-action "updateSoGInitialGuessForAllSF")
    }}
  {{/x-modal-for-object}}

  {{x-modal-for-generic-object model.objectForModal}}

  {{! HEADER }}
  <div class="ui five column padded grid">
    <div class="yellow column">
      <button class="ui simple dropdown button">
        <i class="settings icon"></i>
        <span>Settings</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item"
            {{action "openModal" model.colormapModal}}>
            <i class="line chart icon"></i> Colormap</div>
        </div>
      </button>
    </div>
    <div class="red column">
      <button class="ui simple dropdown button">
        <i class="settings icon"></i>
        <span>Actions</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item"
            {{action "exportAllAnova" model.curROI}}>
            <i class="line chart icon"></i> Export All Anova</div>
          <div class="item"
            {{action "fetchAllROIs" model.rois}}>
            <i class="download icon"></i> Fetch All Data and Bootstrap</div>
          <div class="item"
            {{action "exportPlots" model.curROI}}>
            <i class="download icon"></i> Export Plots of current ROI</div>
        </div>
      </button>
    </div>
    <div class="center aligned blue column">
      {{x-sci-analysis/control/colormap xmid=(mut model.xmid) ymid=(mut model.ymid)
        onMidPointChanged=(route-action "updateColormap" (mut model.cmap))
      }}
    </div>
    <div class="green column">
      <p>SoG Default Initial Guess</p>
      {{#with model.sogInitialGuess as |g|}}
        <span class="ui mini label">{{get g "0"}}</span>
        <span class="ui mini label">{{get g "1"}}</span>
        <span class="ui mini label">{{get g "2"}}</span>
        <span class="ui mini label">{{get g "3"}}</span>
      {{/with}}
      <p>R value: {{model.rValue}}</p>
    </div>
    <div class="purple column">
      <p>Spatial frequency</p>
      {{x-sui-value-select
        name="spatial-frequency"
        value=model.sfrequencyIndex
        items=model.sfrequencies
        onValueChanged=(route-action "sfrequencyIndexChanged")
      }}
      <p>Colormap</p>
      {{x-sui-value-select
        name="colormap"
        value=model.colormapIndex
        items=model.colormaps
        onValueChanged=(route-action "colormapIndexChanged")
      }}
    </div>
  </div>

  <section class="ui clearing divider"></section>
  <div class="ui inverted segment">
    <div class="ui {{model.socketStatusClass}} text loader">Fetching...</div>
    {{x-sci-analysis/response/overview
      src=model.response.overview index=model.img.curIndex}}
  </div>
  <section class="ui clearing divider"></section>
  <div class="ui">
    {{input type="range" min="0" step="1"
      max=model.img.maxIndex value=model.img.curIndex}}
  </div>

  <section class="ui clearing divider"></section>
  <div class="ui stackable padded grid">
    {{#x-zoomable-container class="eight wide column"
      containerStyle=(mut containerStyle)}}
      {{#x-layer width=model.img.width height=model.img.height as |layer|}}
        {{layer.canvas-2d buffer=model.img.buffer}}
        {{layer.roi-selector rois=model.rois
          onExportROI=(route-action "insertROI" model.rois)}}
        {{layer.roi-presenter rois=model.rois}}
        {{layer.point-locator x=curX y=curY active=pointLocatorActive}}
      {{/x-layer}}
    {{/x-zoomable-container}}
    <div class="eight wide column" style={{containerStyle}}>

      {{#x-keynum-tabs}}
      <div class="ui inverted active tab segment">
        <div class="ui {{model.socketStatusClass}} text loader">Fetching...</div>
        <div class="ui grid compact-margin">
          <div class="row">
            {{x-sci-analysis/response/orientations src=model.response.orientations}}
          </div>
        </div>
        <div class="ui grid compact-margin">
          <div class="row">
            {{x-sci-analysis/response/normalfit src=model.response.fit}}
          </div>
        </div>
        <div class="ui grid compact-margin">
          <div class="six wide column">
            {{x-sci-analysis/response/sfreqfit src=model.curROI.sfreqfit}}
          </div>
          <div class="five wide column">
            {{x-sci-analysis/response/decay src=model.response.decay}}
          </div>
          <div class="five wide column">
            {{x-sci-analysis/response/polarfit src=model.response.fit}}
          </div>
        </div>
      </div>

      <div class="ui inverted tab segment">
        {{x-sci-analysis/roi-trajectory/form roi=model.curROI
          curIndex=model.img.curIndex curX=curX curY=curY
          pointLocatorActive=pointLocatorActive
          invalidateTrajectory=(route-action "invalidateTrajectory")
          }}
      </div>

      <div class="ui inverted tab segment">
        {{#if model.curROI}}
          <img width="100%" alt="SF Tuning Curve" src="data:image/png;base64,{{model.curROI.sfreqfit.plot}}" />
        {{/if}}
      </div>

      {{/x-keynum-tabs}}

    </div>
  </div>

  <section class="ui clearing divider"></section>
  <div style="overflow-x: scroll;">
    {{x-sci-analysis/stats/wide rois=model.rois curSF=model.curSF}}
  </div>

  <section class="ui clearing divider"></section>
  {{x-console-stream messages=model.logs class="ui"}}
</div>
