<div id="import-progress" class="ui basic modal">
  <div class="ui loader"></div>
  <div class="ui icon header">
    <i class="archive icon"></i> Import data...
  </div>
  <div class="content"
    style="height: 480px; overflow-y: scroll; border: 1px solid red;">
    {{x-console-stream messages=messages class="ui"}}
  </div>
</div>

<h2>Year {{model.year}}</h2>
<h2>Month {{model.month}}</h2>
<h2>Day {{model.day}}</h2>
<h1>Records</h1>

<div class="ui stackable three column page grid">
{{#each model.records as |record|}}
  <div class="column">
    {{#x-anlz-session-card
      title=record.name
      host="2P1"
      src=record.mouse
      desc=record.desc
      user=record.user
      timeAgo=record.date
    }}
    {{#if record.package.exists}}
      <div class="extra content">
        <div class="ui vertical fluid buttons">
          {{!link-to "Open" "sci-analysis"
            model.year model.month model.day record.mouse record.name tagName="div" class="ui blue basic button"}}
          <div class="ui blue basic button" {{action "newSession" record}}>New session</div>
          <div class="ui red basic button" {{action "removePackage" record}}>Remove</div>
        </div>
      </div>
      <div class="extra content">
        {{#each record.package.sessions as |s|}}
        <h5 class="ui header">
          <i class="radio icon"></i>
          <div class="content">
            <span class="sci-analyses-open-session"
              {{action "openSession" record s}}>{{s.name}}</span>
            <div class="ui inline simple dropdown">
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="header">Actions for {{s.name}}</div>
                <div class="item" {{action "removeSession" record s}}>Delete</div>
              </div>
            </div>
          </div>
        </h5>
        {{/each}}
      </div>
    {{else}}
      <div class="extra content">
        <div class="ui basic fluid red button" {{action "importRaw" record}}>Import</div>
      </div>
    {{/if}}
    {{/x-anlz-session-card}}
  </div>
{{else}}
  no...
{{/each}}
</div>
{{outlet}}
