<div class="ui inverted labeled disabled fluid input">
  <div class="ui label">ID</div>
  {{input type="text" value=roi.id readonly=true}}
</div>

<div class="ui inverted divider"></div>
<div class="ui inverted labeled fluid input">
  <div class="ui label">
    Neuropil Enabled
  </div>
  <div class="ui segment input-checkbox-override">
    <div class="ui fitted toggle checkbox">
      {{input type="checkbox" checked=roi.npEnabled}}
      <label></label>
    </div>
  </div>
</div>

<div class="ui inverted divider"></div>
<div class="ui inverted labeled {{if roi.npDisabled "disabled"}} fluid input">
  <div class="ui label">
    Neuropil Distance Ratio
  </div>
  {{input type="number" value=roi.npDistRatio step=0.1 min=3 max=8}}
</div>

<div class="ui inverted divider"></div>
<h4 class="ui center aligned header">
  SoG Initial Guess Override at {{model.curSF}}
  (Global: {{model.sog_initial_guess}})</h4>
<div class="ui inverted small equal width form">
  <div class="fields">
    <div class="field">
      <label>A1 Min</label>
      {{input type="text" value=sfInitialGuess.p1}}
    </div>
    <div class="field">
      <label>A1 Max</label>
      {{input type="text" value=sfInitialGuess.p2}}
    </div>
    <div class="field">
      <label>A2 Min</label>
      {{input type="text" value=sfInitialGuess.p3}}
    </div>
    <div class="field">
      <label>A2 Max</label>
      {{input type="text" value=sfInitialGuess.p4}}
    </div>
    <div class="field">
      <label>Sigma Min</label>
      {{input type="text" value=sfInitialGuess.p5}}
    </div>
    <div class="field">
      <label>Sigma Max</label>
      {{input type="text" value=sfInitialGuess.p6}}
    </div>
    <div class="field">
      <label>Offset Min</label>
      {{input type="text" value=sfInitialGuess.p7}}
    </div>
    <div class="field">
      <label>Offset Max</label>
      {{input type="text" value=sfInitialGuess.p8}}
    </div>
    <div class="field">
      <label>For this SF</label>
      <div class="ui basic green button"
        {{action "updateSoGInitialGuessForThisSF" roi sfInitialGuess model.curSF}}>Update</div>
    </div>
    <div class="field">
      <label>For <b>All</b> SF</label>
      <div class="ui basic green button"
        {{action "updateSoGInitialGuessForAllSF" roi sfInitialGuess}}>Update</div>
    </div>
  </div>
</div>
