<h3 class="ui inverted header">Welcome!</h3>
<div class="ui inverted segment">
  <p>PACU is a research framework specializing in</p>
  <div class="ui inverted relaxed divided list">
    <div class="item">
      <div class="content">image analysis</div>
    </div>
    <div class="item">
      <div class="content">visual stimulus</div>
    </div>
    <div class="item">
      <div class="content">decentralized work flow</div>
    </div>
    <div class="item">
      <div class="content">modern web interface</div>
    </div>
    <div class="item">
      <div class="content">scientific python backed</div>
    </div>
    <div class="item">
      <div class="content">multi-core friendly</div>
    </div>
  </div>
</div>
<section>
  <table class="ui inverted table">
    <tbody>
      <thead><tr><th colspan="2">
        System Information - Which machine is running this PACU?
      </th></tr></thead>
      <tr><td>System</td><td>{{model.platform.system}}</td></tr>
      <tr><td>Node</td><td>{{model.platform.node}}</td></tr>
      <tr><td>Release</td><td>{{model.platform.release}}</td></tr>
      <tr><td>Machine</td><td>{{model.platform.machine}}</td></tr>
      <tr><td>Processor</td><td>{{model.platform.processor}}</td></tr>
    </tbody>
  </table>
</section>
