{{!--
<h3 class="ui yellow inverted horizontal divider header">
  <i class="tag white icon"></i>
  Trials
</h3>
{{x-vstim-trials class="ui inverted segment" trials=model.trials}}
<h3 class="ui yellow inverted horizontal divider header">
  <i class="tag white icon"></i>
  Parameters
</h3>
{{#each model.entities as |entity|}}
<section>
  <table class="ui inverted table" style="table-layout: fixed;">
    <thead><tr><th colspan="2">{{entity.name}}</th></tr></thead>
    <tbody>
      {{#each entity.spec as |field|}}
      <tr>
        <td>{{field.name}}</td>
        <td>{{field.value}}</td>
      </tr>
      {{else}}
      <tr>
        <td span="2">{{entity.name}} has no specific setup.</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>
<section class="ui clearing divider"></section>
{{/each}}
--}}
<h1>{{model.clsname}}</h1>
<h2>{{model.pkgname}}</h2>
<p>on time: {{model.on_time}}</p>
<p>off time: {{model.off_time}}</p>
<p>sequence: {{model.sequence}}</p>
<p>performed: {{model.ran}}</p>
<p>created at: {{model.created_at}}</p>
<p>order: {{model.order}}</p>
<p>DB id: {{model.id}}</p>
<h3>log</h3>
<div>
  {{#each (split-lines model.message) as |msg|}}
    <pre>{{msg}}</pre>
  {{/each}}
</div>
{{#each-in model.payload as |key value|}}
  <h3>{{key}}</h3>
  <h4>{{value.clsname}}</h4>
  <h4>{{value.pkgname}}</h4>
  {{#each-in value.kwargs as |ckey cval|}}
    <p><span>{{ckey}}</span>:<span>{{cval}}</span></p>
  {{/each-in}}
{{/each-in}}
