{{!x-i3d2p-plot-overview}}
<div class="ui clearing inverted segment" style="padding: 0; margin: 0 auto; width: {{dimension.width}}px;">
  <div>
    {{input type="range" min="0" max=max_index step="1" value=attrs.curIndex}}
  </div>
</div>
<div style="margin: 0 auto; width: {{dimension.width}}px; height: {{dimension.height}}px;">
  <div style="height: 100%; position: relative;">
    {{x-canvas-arraybuffer buf=currentBuffer width=dimension.width height=dimension.height}}
    {{x-canvas-rois rois=currentROIs width=dimension.width height=dimension.height
      onMouseDown=(action "hookROI")
      onMouseUp=(action "refreshROI")
      onMouseUpDownSamePoint=(action "destroyROI")
    }}
  </div>
</div>
<div class="ui clearing inverted segment" style="padding: 0; margin: 0 auto; width: {{dimension.width}}px;">
  <div>
    {{x-d3-line-test width=830 height=360 src=meanOfcROIs curIndex=attrs.curIndex
      onmmXY=(action "mmXY")}}
    <ul>
      {{#each currentROIs as |roi|}}
        <li>
          X1:{{roi.x1}}, X2:{{roi.x2}}, Y1:{{roi.y1}}, Y2:{{roi.y2}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{!yield}}
