<input type="hidden" name="{{attrs.name}}">
<i class="dropdown icon"></i>
<div class="default text">{{attrs.prompt}}</div>
<div class="menu">
  {{#each attrs.items as |item index|}}
  <div class="item" data-value="{{index}}">
    <i class="{{if item.sui_icon item.sui_icon 'circle thin'}} icon"></i>
    {{get item valuePath}}
  </div>
  {{/each}}
</div>
