<div class="ui inverted segment">
  <h4>In order to run a stimulus session, you need to configure following components.</h4>
  <ul class="ui list">
    <li>Monitor</li>
    <li>Window</li>
    <li>Stimulus</li>
    <li>Projection</li>
    <li>Clock</li>
    <li>Handler</li>
  </ul>
  <h4>Let's start with {{#link-to 'psychopy.prepare'}}prepare tab{{/link-to}}!</h4>
</div>

{{#each model.monitor as |spec|}}
  <section>
    <table class="ui inverted table" style="table-layout: fixed;">
      <thead><tr><th colspan="2">{{spec.clsname}}</th></tr></thead>
      <tbody>
        {{#each spec.fields as |field|}}
        <tr>
          <td>{{field.attrs.title}}: {{field.attrs.description}}</td>
          <td>{{component field.component
                meta=field.attrs
                name=field.key
                value=field.val
                class="ui inverted input"}}</td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot><tr><th colspan="2">{{spec.pkgname}}</th></tr></tfoot>
    </table>
  </section>
{{/each}}
